/* 초기화 */
* {
    margin: 0;
    padding: 0;
    font: normal 12px '고딕';
}
ul, ol {list-style: none;}
a {text-decoration: none; color: black;}


#wrapper {
    width: 100%;
    height: auto;
}
header {
    width: 100%;
    height: 80px;
    background-image: url(../images/header_bg.gif);
}
header > div {
    position: relative;
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}
header > div .logo {
    margin-top: 6px;
}
header .gnb {
    overflow: hidden;
    float: right;
    margin-top: 14px;
    width: 620px;
    height: 32px;
    text-align: right;
}
header .gnb > li {
    float: left;
    width: 124px;
    height: 32px;
    box-sizing: border-box;
    text-align: right;
}
header .gnb > li > a {
    position: relative;
    top: 4px;
    width: 68px;
    height: 23px;
    font-weight: bold;
    font-size: 17px;
}
header .gnb > li > a:hover {
    color: brown;
}
header .latest {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 500px;
    height: 30px;
    box-sizing: border-box;
}
header .latest > a {
    display: inline-block;
    color: #555;
}

header .latest > a:nth-child(1) {
    position: relative;
    top: 4px;
}
header .latest > a:nth-child(2)::before {
    content: url(../images/ico_latest.gif);
    position: relative;
    
}
header .latest > a:nth-child(2):hover {
    text-decoration: underline;
}

header .latest > a:nth-child(2) {
    position: relative;
    left: 6px;
    bottom: 4px;
    
}
    
/* 메인 **********************************************************************************/
main {
    width: 1000px;
    height: auto;
    margin: 5px auto;
    position: relative;
}
main > div {
    overflow: hidden;
    
}
main > div > .banner {
    border: 1px solid gainsboro;
    box-sizing: border-box;
    float: left;
    width: 670px;
    height: 320px;
    background-image: url(../images/main_banner_bg.jpg);
    overflow: hidden;
}
#main_img_txt {position: absolute; left: 160px; top: 100px;}
#main_banner_img {display: block;}
main .banner > ul {
    float: right;
    width: 80px;
    height: 100%;
    border-left: 1px solid gainsboro;
}
main .banner > ul > li {
    width: 100%;
    height: 41px;
    border-top: 1px solid gainsboro;
    box-sizing: border-box;
    background-color: #f2f2f2;
}
main .banner > ul > li > a {
    width: 80px;
    height: 40px;
    text-align: center;
    line-height: 40.8px;
    background-color: #f2f2f2;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
}
main > div > .call {
    position: relative;
    border: 1px solid gainsboro;
    box-sizing: border-box;
    background-color: #f2f2f2;
    float: right;
    width: 326px;
    height: 133px;
}
main > div > .call > img:nth-child(1) {position: absolute; left: 18px; bottom: 20px;}
main > div > .call > img:nth-child(2) {position: absolute; right: 0; top: 1px;}
main > div > .call > img:nth-child(3) {position: absolute; left: 18px; top: 20px;}
main > div > .call > img:nth-child(4) {position: absolute; left: 18px; top: 47px;}

main > div > .qna {
    border: 1px solid gainsboro;
    box-sizing: border-box;
    background-color: #f2f2f2;
    float: right;
    width: 326px;
    height: 182px;
    padding: 20px;
    margin-top: 5px;
}
main > div > .qna > h3 {
    font-weight: bold;
    font-size: 14px;
}
main > div > .qna > table {
    width: 100%;
    height: auto;
    margin-top: 6px;
    border-collapse: collapse;
    border-spacing: 0px;

}
main > div > .qna > table td {
    color: #6a6a6a;
}
main > div > .qna > table td a {
    display: block;
    width: 209px;
    height: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #6a6a6a;
}
main > div > .qna > table td a:hover {
    text-decoration: underline;
}
main > section {
    overflow: hidden;
}
main > section > aside {
    float: left;
    width: 195px;
    height: 760px;
    margin-top: 5px;
    border: 1px solid gainsboro;
    box-sizing: border-box;
}
main > section > aside > article {
    width: 100%;
    height: 204px;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
}
main > section > aside > article > h3 {
    font-weight: bold;
    font-size: 14px;
}
main > section > aside .notice > ul {
    margin-top: 6px;
}
main > section > aside .notice > ul > li {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 0%;
}
main > section > aside .notice > ul > li > a::before {
    content: url(../images/ico_latest.gif);
}
main > section > aside > article > a {
    display: block;
    width: 100%;
    height: 34px;
    border: 1px solid gainsboro;
    margin-top: 6px;
    font-size: 0;
    background-color: #f6f6f6;
    background-repeat: no-repeat;
    background-position: 10px center;
}
main > section > aside > article > a:nth-of-type(1) {
    background-image: url(../images/aside_quick_court.png);
}
main > section > aside > article > a:nth-of-type(2) {
    background-image: url(../images/aside_quick_google.png);
}
main > section > aside > article > a:nth-of-type(3) {
    background-image: url(../images/aside_quick_naver_map.png);
}
main > section > aside > article > a:nth-of-type(4) {
    background-image: url(../images/aside_quick_naver_subway.png);
}

main > section > aside > a {
    position: relative;
    left: -1px;
    display: block;
    width: 195px;
    height: 83px;
    border: 1px solid gray;
    box-sizing: border-box;
    overflow: hidden;
    margin-top: 6px;

}
main > section > aside > a > img:nth-child(1) {
    position: absolute;
    left: 10px;
    top: 10px;
}
main > section > aside > a > img:nth-child(2) {
    float: right;
}
main > section > aside > .banner {
    position: relative;
    left: -1px;
    width: 195px;
    height: 167px;
    margin-top: 6px;
    border: 1px solid gray;
    box-sizing: border-box;
    background-image: url(../images/aside_banner_bg.jpg);
}
main > section > aside > .banner > img:nth-child(1) {
    position: absolute;
    right: 0;
    top: 0;
}
main > section > aside > .banner > img:nth-child(2) {
    position: absolute;
    left: 10px;
    top: 35px;
}
main > section > aside > .banner > a {
    position: absolute;
    left: 10px;
    top: 65px;
}
main > section > article {
    float: right;
    width: 800px;
    height: 250px;
    margin-top: 5px;
    padding: 16px;
    border: 1px solid gainsboro;
    box-sizing: border-box;
}
main > section > article > h3 {
    font-weight: bold;
    font-size: 14px;
}
main > section > article > h3 > a {
    float: right;
}
main > section > article > ul {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin-top: 26px;
}
main > section > article > ul > li {
    float: left;
    width: 20%;
    height: 100%;
}
main > section > article > ul > li > img {
    width: 150px;
    height: 100px;
}
main > section > article > ul > li > a {
    display: block;
    text-align: center;
}
main > section > article > ul > li > a:hover {
    text-decoration: underline;
}
/* 푸터 **********************************************************************************/
footer {
    width: 1000px;
    height: 130px;
    padding: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
    border: 1px solid gainsboro;
    border-top: 2px solid gray;
    box-sizing: border-box;

}
footer > img {}
footer > p {
    font-size: 11.5px;
    color: #585858;
    line-height: 20px;
    margin-left: 10px;
}
footer > p > span {
    display: block;
    margin-top: 6px;
    font-weight: bold;
}
